.body-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-back {
  text-align: right;
  margin: 0 1rem;
  font-size: 22px;
  font-family: cursive;
  text-decoration: none;
  color: grey;
}
.nav-back:hover {
  color: red;
}
