* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  display: grid;
  grid-template-columns: 1fr 0.1fr 1fr 1fr;
}
.thuonghieu {
  margin: auto -28rem;
  padding: 75px;
  font-size: 40px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.nav-menu {
  margin: auto 0;
}
.nav-link {
  margin: 0 2rem;
  font-size: 27px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.nav-link:hover {
  color: rgb(137, 137, 214);
}
.buttons {
  margin: auto 13rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 50px;
  width: 50px;
  gap: 50px;
}
.section1 {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 20px;
  text-align: right;
  background-color: #ffcc54;
  padding: 3rem;
}
.article1 {
  margin: 0 4rem;
}
.article2 {
  margin: 0 4rem;
  display: grid;
  grid-template-rows: 50px 50px 50px 50px;
  font-family: Arial, Helvetica, sans-serif;
  row-gap: 30px;
}
.button3 {
  margin: auto 1rem;
}
.button2 {
  height: 60px;
  width: 250px;
  background-color: black;
  color: white;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.button2:hover {
  color: #ffcc54;
}
.section2 {
  background-color: #f06c54;
  text-align: center;
  font-size: 40px;
  padding: 1rem;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
}
.section3 {
  margin: auto 4rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  font-size: 27px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #ffcc54;
}
.chan {
  clear: both;
  display: grid;
  grid-template-columns: 7fr 1fr;
  gap: 7fr;
}
.nav-back {
  margin: auto 1rem;
  font-size: 22px;
  font-family: cursive;
  text-decoration: none;
  color: grey;
}
.nav-back:hover {
  color: red;
}
